.cards--container{
    position: relative;
    left: 28%;
    width: 70%;
}
.card--container{
    height: 7rem;
    display: flex;
    margin: 1rem;
    transition: 1s;
    background-color: #8598ac;
    cursor: pointer;
}
.card--container p, .gitHub{
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
}
.informations--container{
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card--cost{
    width: 100px;
}
.card--category{
    margin-left: 1rem;
}
.card--image{
    width: 15rem;
    height: 7rem;
}
.card--container:hover{
    background-color: #3d637c;
}

@media screen and (max-width: 980px){
    .cards--container{
        position: static;
        width: 90%;
    }
}
@media screen and (max-width: 740px){
    .card--container{
        height: auto;
        flex-direction: column;
    }
    .card--image{
        width: 100%;
        height: 200px;
    }
    .informations--container{
        padding: 0;
        flex-direction: column;
    }
    .cat--til--container{
        text-align: center;
    }
    .card--cost, .card--category{
        margin: auto;
        width: auto;
    }
    .card--cost{
        margin: 1rem;
    }
}